openapi: 3.0.3
info:
  title: EMILIA Protocol API
  description: |
    Protocol-grade trust infrastructure for high-risk action enforcement.

    EP binds actor identity, authority, policy, and exact action context into a replay-resistant, one-time authorization flow with immutable event traceability.

    Supporting line for AI-native contexts: MCP tells agents how to use tools. EP tells systems whether a high-risk action should be allowed to proceed.

    Extensions include Handshake for pre-action trust enforcement and Accountable Signoff when policy requires named human ownership.
  version: 1.1.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    email: team@emiliaprotocol.ai
    url: https://emiliaprotocol.ai

servers:
  - url: https://emiliaprotocol.ai
    description: Production
  - url: http://localhost:3000
    description: Local development

# Default security requirement for every operation. Individual operations may
# override (including `security: []` to mark a specific operation as
# explicitly public). Without this root-level declaration, the redocly
# `security-defined` lint rule fires on any operation that omits its own
# `security:` block — currently 30 of 96 operations.
security:
  - BearerAuth: []

tags:
  - name: Trust
    description: Trust profiles and policy-bound evaluation surfaces
  - name: Software Trust
    description: Experimental / legacy install-preflight surfaces; not the primary company wedge
  - name: Receipts
    description: Transaction receipt submission and verification
  - name: Entities
    description: Entity registration and search
  - name: Disputes
    description: Dispute lifecycle — file, respond, resolve, appeal, withdraw
  - name: Delegations
    description: Principal-agent delegation management and verification
  - name: Identity
    description: EP-IX identity bindings, continuity claims, and principal management
  - name: Needs
    description: Experimental / secondary routing surfaces
  - name: Commits
    description: EP Commit — signed pre-action authorization tokens proving trust evaluation happened before action
  - name: Handshake
    description: EP Handshake — structured identity exchange between parties before trust decisions
  - name: Policies
    description: Trust policy registry
  - name: Operations
    description: Secondary governance and inquiry surfaces
  - name: System
    description: Health, stats, audit, and operational endpoints
  - name: Signoff
    description: Accountable Signoff — named human ownership for high-risk actions requiring explicit attestation
  - name: Cloud
    description: Cloud tenant API — scoring calibration, policy simulation, and tenant-scoped configuration
  - name: Internal
    description: |
      Cron jobs, operator-only actions, and internal infrastructure endpoints.
      These routes are not part of the public API and require privileged authentication.

paths:
  # ===========================================================================
  # Trust
  # ===========================================================================

  /api/trust/profile/{entityId}:
    get:
      tags: [Trust]
      summary: Get trust profile
      description: |
        The PRIMARY canonical read surface for EP trust data. Returns the full
        trust profile including behavioral rates, signal breakdowns, confidence,
        establishment status, quality-gated evidence, anomaly detection, and disputes.
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
          description: Entity ID or slug
      responses:
        '200':
          description: Trust profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustProfileResponse'
        '404':
          description: Entity not found

  /api/trust/evaluate:
    post:
      tags: [Trust]
      summary: Evaluate entity against a trust policy
      description: |
        The PRIMARY canonical decision surface. Evaluates an entity against a
        structured trust policy and returns a trust decision with detailed reasoning.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, policy]
              properties:
                entity_id:
                  type: string
                policy:
                  type: string
                  enum: [strict, standard, permissive, discovery, github_private_repo_safe_v1, npm_buildtime_safe_v1, browser_extension_safe_v1, mcp_server_safe_v1]
                context:
                  type: object
                  description: Optional context keys (category, geo, value_band, etc.)
      responses:
        '200':
          description: Trust decision with detailed reasoning
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustDecision'

  /api/trust/install-preflight:
    post:
      tags: [Software Trust]
      summary: Software pre-action enforcement (experimental)
      description: |
        EP-SX: Should I install this plugin/app/package/extension? Evaluates
        publisher verification, permission risk, provenance, and incident history
        against host-specific policies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id]
              properties:
                entity_id:
                  type: string
                policy:
                  type: string
                  default: mcp_server_safe_v1
                context:
                  type: object
      responses:
        '200':
          description: Preflight decision (allow/review/deny)

  /api/trust/gate:
    post:
      tags: [Trust]
      summary: Pre-action trust gate
      description: |
        Trust gate: pre-action check. Returns allow/review/deny before executing a
        high-stakes action. Evaluates effective evidence, dispute rate, and
        establishment status against the specified policy. Optionally verifies
        a delegation. High-value transactions (>$10k) are auto-escalated to
        strict policy thresholds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, action]
              properties:
                entity_id:
                  type: string
                action:
                  type: string
                  description: The action being gated (e.g. "purchase", "deploy")
                policy:
                  type: string
                  enum: [strict, standard, permissive]
                  default: standard
                value_usd:
                  type: number
                  description: Transaction value in USD (triggers strict escalation above $10k)
                delegation_id:
                  type: string
                  description: Optional delegation ID to verify alongside the gate check
      responses:
        '200':
          description: Gate decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustDecision'

  /api/trust/zk-proof:
    post:
      tags: [Trust]
      summary: Generate a commitment trust proof
      description: |
        Generate a privacy-preserving commitment proof for an entity. The proof allows
        the entity to prove a trust claim (e.g. "score above 0.8") without
        revealing receipt contents, counterparty identities, or transaction details.
        Entity can only generate proofs for themselves.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, claim]
              properties:
                entity_id:
                  type: string
                claim:
                  type: object
                  required: [type, threshold]
                  properties:
                    type:
                      type: string
                      enum: [score_above, receipt_count_above, domain_score_above]
                    threshold:
                      type: number
                    domain:
                      type: string
                      enum: [financial, code_execution, communication, delegation, infrastructure, content_creation, data_access]
                      description: Required when type is domain_score_above
      responses:
        '201':
          description: Commitment proof generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZKProofResponse'
        '401':
          description: Authentication required
        '403':
          description: Can only generate proofs for your own entity
        '422':
          description: Claim is not provable — trust data does not meet threshold
    get:
      tags: [Trust]
      summary: Verify a commitment trust proof
      description: |
        Verify a commitment trust proof by proof_id. Public endpoint — no auth required.
        Returns only the claim verdict and public metadata. Commitment root and
        salt are deliberately omitted so the verifier learns nothing about the
        underlying receipt set.
      parameters:
        - name: proof_id
          in: query
          required: true
          schema:
            type: string
          description: Commitment proof ID (starts with ep_zkp_)
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZKProofVerification'
        '404':
          description: Proof not found

  /api/trust/domain-score/{entityId}:
    get:
      tags: [Trust]
      summary: Get domain-specific trust scores
      description: |
        Returns trust scores broken down by domain (financial, code_execution,
        communication, etc.) for the specified entity.
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
          description: Entity ID or slug
        - name: domains
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated list of domains to filter (e.g. "financial,code_execution")
      responses:
        '200':
          description: Domain scores
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id:
                    type: string
                  domain_scores:
                    type: object
                    additionalProperties:
                      type: number

  # ===========================================================================
  # Receipts
  # ===========================================================================

  /api/receipts/submit:
    post:
      tags: [Receipts]
      summary: Submit a transaction receipt
      description: |
        Submit a receipt for a transaction with an entity. Requires authentication.
        transaction_ref is required — every receipt must reference an external transaction.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptSubmission'
      responses:
        '201':
          description: Receipt created
        '401':
          description: Authentication required

  /api/receipts/confirm:
    post:
      tags: [Receipts]
      summary: Bilateral confirmation
      description: Counterparty confirms or disputes a receipt (48-hour window).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [receipt_id, confirm]
              properties:
                receipt_id:
                  type: string
                confirm:
                  type: boolean
      responses:
        '200':
          description: Confirmation recorded

  /api/receipts/auto-submit:
    post:
      tags: [Receipts]
      summary: Batch auto-submit behavioral receipts
      description: |
        Lightweight, high-throughput endpoint for ingesting auto-generated behavioral
        receipts from the EMILIA Protocol MCP server's AutoReceiptMiddleware.

        No bearer-token authentication. Entity identity comes from the receipt body.
        Rate-limiting is enforced per entity_id via the X-EP-Auto-Key header.

        All auto-generated receipts are forced to provenance='unilateral'. They cannot
        claim bilateral status without counterparty confirmation.

        Accepts up to 100 receipts per batch. Invalid receipts never block the batch.
      parameters:
        - name: X-EP-Auto-Key
          in: header
          required: false
          schema:
            type: string
          description: Auto-receipt attribution key for rate limiting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [receipts]
              properties:
                receipts:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required: [entity_id, transaction_ref]
                    properties:
                      entity_id:
                        type: string
                        maxLength: 200
                      transaction_ref:
                        type: string
                        maxLength: 500
                      context:
                        type: object
                        description: Structured metadata from the MCP tool call
                      outcome:
                        type: object
                        description: Observable signals from the tool invocation
      responses:
        '207':
          description: Multi-status — some receipts accepted, some rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoSubmitResponse'
        '422':
          description: All receipts rejected

  /api/verify/{receiptId}:
    get:
      tags: [Receipts]
      summary: Verify a receipt
      description: Verify receipt hash integrity and Merkle root anchoring.
      parameters:
        - name: receiptId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verification result

  # ===========================================================================
  # Entities
  # ===========================================================================

  /api/entities/register:
    post:
      tags: [Entities]
      summary: Register a new entity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, display_name, entity_type]
              properties:
                entity_id:
                  type: string
                display_name:
                  type: string
                entity_type:
                  type: string
                  enum: [agent, merchant, service_provider, github_app, github_action, mcp_server, npm_package, chrome_extension, shopify_app, marketplace_plugin, agent_tool]
                description:
                  type: string
      responses:
        '201':
          description: Entity registered

  /api/entities/search:
    get:
      tags: [Entities]
      summary: Search entities
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: min_confidence
          in: query
          schema:
            type: string
            enum: [pending, insufficient, provisional, emerging, confident]
      responses:
        '200':
          description: Search results

  /api/entities/{entityId}/auto-receipt:
    get:
      tags: [Entities]
      summary: Get auto-receipt configuration
      description: |
        Returns the auto-receipt configuration for the specified entity.
        The caller must authenticate as that entity (API key entity_id must
        match the path parameter). Entity-scoped access only.
      security:
        - BearerAuth: []
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Auto-receipt config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceiptConfig'
        '401':
          description: Authentication required
        '403':
          description: Can only read your own configuration
    post:
      tags: [Entities]
      summary: Update auto-receipt configuration
      description: |
        Updates the auto-receipt configuration for the specified entity.
        Entity-scoped access — callers may only update their own config.
      security:
        - BearerAuth: []
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled:
                  type: boolean
                redact_fields:
                  type: array
                  items:
                    type: string
                  description: Fields to redact from auto-generated receipts
                privacy_mode:
                  type: string
                  enum: [standard, anonymous]
                  default: standard
      responses:
        '200':
          description: Config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceiptConfig'
        '401':
          description: Authentication required
        '403':
          description: Can only update your own configuration

  # ===========================================================================
  # Score (legacy)
  # ===========================================================================

  /api/score/{entityId}:
    get:
      tags: [Trust]
      summary: Get compatibility score (legacy)
      description: |
        Returns the 0-100 compatibility score. This is a legacy endpoint for
        backward compatibility. Use /api/trust/profile for trust decisions.
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Compatibility score

  /api/score/{entityId}/history:
    get:
      tags: [Trust]
      summary: Get score history (legacy)
      description: |
        Returns compatibility score history over time. Legacy endpoint —
        for current trust state, use GET /api/trust/profile/{entityId}.
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: after
          in: query
          schema:
            type: string
            format: date-time
          description: Only return history after this date
        - name: before
          in: query
          schema:
            type: string
            format: date-time
          description: Only return history before this date
      responses:
        '200':
          description: Score history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id:
                    type: string
                  display_name:
                    type: string
                  current_score:
                    type: number
                  current_receipts:
                    type: integer
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        score:
                          type: number
                        total_receipts:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
        '404':
          description: Entity not found

  # ===========================================================================
  # Disputes
  # ===========================================================================

  /api/disputes/file:
    post:
      tags: [Disputes]
      summary: File a dispute against a receipt
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [receipt_id, reason]
              properties:
                receipt_id:
                  type: string
                reason:
                  type: string
                  enum: [fraudulent_receipt, inaccurate_signals, identity_dispute, context_mismatch, duplicate_transaction, coerced_receipt, other]
                description:
                  type: string
      responses:
        '201':
          description: Dispute filed

  /api/disputes/report:
    post:
      tags: [Disputes]
      summary: File a human trust report (no auth required)
      description: |
        Human appeal endpoint. No authentication required.
        "EP must never make trust more powerful than appeal."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id, report_type]
              properties:
                entity_id:
                  type: string
                report_type:
                  type: string
                  enum: [wrongly_downgraded, harmed_by_trusted_entity, fraudulent_entity, inaccurate_profile, other]
                description:
                  type: string
                contact_email:
                  type: string
      responses:
        '201':
          description: Report received

  /api/disputes/{disputeId}:
    get:
      tags: [Disputes]
      summary: View dispute status
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dispute details including appeal status

  /api/disputes/respond:
    post:
      tags: [Disputes]
      summary: Respond to a dispute
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id, response]
              properties:
                dispute_id:
                  type: string
                response:
                  type: string
                evidence:
                  type: object
      responses:
        '200':
          description: Response recorded

  /api/disputes/resolve:
    post:
      tags: [Disputes, Internal]
      summary: Resolve a dispute (operator only)
      description: |
        Operator resolves a dispute. Routes through canonical writer.
        Validates state transition against formal dispute state machine.
        Records operator action in audit trail. Reversal triggers score
        recomputation and trust materialization.
      x-internal: true
      x-access: operator
      security:
        - CronAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id, resolution]
              properties:
                dispute_id:
                  type: string
                resolution:
                  type: string
                  enum: [upheld, reversed, dismissed, superseded]
                rationale:
                  type: string
      responses:
        '200':
          description: Dispute resolved, trust state updated
        '400':
          description: Invalid state transition
        '401':
          description: Operator authentication required
        '404':
          description: Dispute not found

  /api/disputes/{disputeId}/adjudicate:
    post:
      tags: [Disputes]
      summary: Trigger trust evaluation
      description: |
        Triggers trust evaluation for a dispute. The trust graph's
        high-confidence counterparties vote on whether to uphold or dismiss.

        Authorization: CRON_SECRET (automated) or the dispute filer (after 48h
        response window). The 48h window gives the accused entity time to respond
        before the trust graph is consulted — a procedural justice requirement.

        The result is advisory — operators retain final resolution authority.
      security:
        - BearerAuth: []
        - CronAuth: []
      parameters:
        - name: disputeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Adjudication complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjudicationResponse'
        '202':
          description: Advisory — dispute is less than 48h old, response window still open
        '401':
          description: Not authorized
        '403':
          description: Dispute too fresh for filer-triggered adjudication
        '404':
          description: Dispute not found
        '409':
          description: Dispute already in terminal state

  /api/disputes/appeal:
    post:
      tags: [Disputes]
      summary: Appeal a dispute resolution
      description: |
        Only dispute participants can appeal. The dispute must be in
        upheld, reversed, or dismissed state. Appeals are reviewed by
        a senior operator. The appeal decision is final.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id, reason]
              properties:
                dispute_id:
                  type: string
                reason:
                  type: string
                  minLength: 10
                evidence:
                  type: object
      responses:
        '201':
          description: Appeal filed

  /api/disputes/appeal/resolve:
    post:
      tags: [Disputes, Internal]
      summary: Resolve an appeal (operator only)
      description: |
        Operator resolves an appeal. Requires CRON_SECRET auth.
        appeal_upheld = original resolution stands.
        appeal_reversed = original resolution overturned, trust recomputed.
        appeal_dismissed = appeal dismissed.
      x-internal: true
      x-access: operator
      security:
        - CronAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id, resolution]
              properties:
                dispute_id:
                  type: string
                resolution:
                  type: string
                  enum: [appeal_upheld, appeal_reversed, appeal_dismissed]
                rationale:
                  type: string
      responses:
        '200':
          description: Appeal resolved
        '401':
          description: Operator authentication required
        '404':
          description: Dispute not found

  /api/disputes/withdraw:
    post:
      tags: [Disputes]
      summary: Withdraw an open dispute
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dispute_id]
              properties:
                dispute_id:
                  type: string
      responses:
        '200':
          description: Dispute withdrawn

  # ===========================================================================
  # Delegations
  # ===========================================================================

  /api/delegations/create:
    post:
      tags: [Delegations]
      summary: Create a delegation
      description: |
        Creates a principal-agent delegation. The principal authorizes an agent
        entity to act on their behalf within a defined scope, with optional
        value limits and expiry.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [principal_id, agent_entity_id, scope]
              properties:
                principal_id:
                  type: string
                agent_entity_id:
                  type: string
                scope:
                  type: array
                  items:
                    type: string
                  description: List of permitted action types
                max_value_usd:
                  type: number
                  description: Optional value cap in USD
                expires_at:
                  type: string
                  format: date-time
                constraints:
                  type: object
                  description: Additional constraints on the delegation
      responses:
        '201':
          description: Delegation created
        '401':
          description: Authentication required

  /api/delegations/{delegationId}/verify:
    get:
      tags: [Delegations]
      summary: Verify a delegation
      description: |
        Verifies whether a delegation is valid and optionally whether a
        specific action type is permitted under its scope.
      parameters:
        - name: delegationId
          in: path
          required: true
          schema:
            type: string
        - name: action_type
          in: query
          required: false
          schema:
            type: string
          description: Optional action type to verify against delegation scope
      responses:
        '200':
          description: Delegation verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  delegation_id:
                    type: string
                  action_permitted:
                    type: boolean
                  reason:
                    type: string

  # ===========================================================================
  # Identity (EP-IX)
  # ===========================================================================

  /api/identity/principal/{principalId}:
    get:
      tags: [Identity]
      summary: Look up a principal
      description: Returns the principal record by ID. Public endpoint.
      parameters:
        - name: principalId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Principal record
        '404':
          description: Principal not found

  /api/identity/principal/{principalId}/delegation-judgment:
    get:
      tags: [Identity]
      summary: Get principal delegation authority
      description: |
        Returns a principal's delegation authority — a measure of how well
        this human chooses and oversees the agents they authorize. Scores humans,
        not just machines: "can I trust the human who authorized this agent?"

        Includes grade (excellent/good/fair/poor), outcome rates, average agent
        confidence, and recent delegation signals. Public endpoint.
      parameters:
        - name: principalId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Delegation judgment score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationJudgmentResponse'
        '404':
          description: Principal not found

  /api/identity/principal/{principalId}/agents:
    get:
      tags: [Identity]
      summary: List agents authorized by a principal
      description: |
        Lists all agents this principal has ever authorized, with their trust
        profiles and per-agent outcome summaries derived from delegation signals.
        Public endpoint.
      parameters:
        - name: principalId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of authorized agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  principalId:
                    type: string
                  agents:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorizedAgent'
        '404':
          description: Principal not found

  /api/identity/lineage/{entityId}:
    get:
      tags: [Identity]
      summary: Get entity lineage
      description: |
        Returns the identity lineage for an entity — the chain of continuity
        claims and identity transitions over time.
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Entity lineage

  /api/identity/bind:
    post:
      tags: [Identity]
      summary: Create an identity binding
      description: |
        Binds a principal to an external identity (e.g. GitHub account,
        email address, domain). Requires authentication.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [principal_id, binding_type, binding_target]
              properties:
                principal_id:
                  type: string
                binding_type:
                  type: string
                  description: Type of binding (e.g. "github", "email", "domain")
                binding_target:
                  type: string
                  description: The external identity to bind to
      responses:
        '201':
          description: Binding created
        '401':
          description: Authentication required

  /api/identity/continuity:
    post:
      tags: [Identity]
      summary: File a continuity claim
      description: |
        Files a claim that an old entity ID should be linked to a new entity ID
        (e.g. platform migration, rebrand). Trust history can be carried forward
        upon approval. Entities with active disputes are frozen from continuity claims.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [principal_id, old_entity_id, new_entity_id, reason]
              properties:
                principal_id:
                  type: string
                old_entity_id:
                  type: string
                new_entity_id:
                  type: string
                reason:
                  type: string
      responses:
        '201':
          description: Continuity claim filed
        '401':
          description: Authentication required

  /api/identity/continuity/challenge:
    post:
      tags: [Identity]
      summary: Challenge a continuity claim
      description: |
        Challenge a pending continuity claim. No authentication required —
        anyone can challenge to prevent trust laundering.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [continuity_id, challenger_type, reason]
              properties:
                continuity_id:
                  type: string
                challenger_type:
                  type: string
                  description: Type of challenger (e.g. "counterparty", "operator", "public")
                reason:
                  type: string
      responses:
        '201':
          description: Challenge filed

  /api/identity/continuity/resolve:
    post:
      tags: [Identity]
      summary: Resolve a continuity claim (operator only)
      description: |
        Operator resolves a continuity claim. Requires authentication.
        Decision determines whether trust history is carried forward.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [continuity_id, decision]
              properties:
                continuity_id:
                  type: string
                decision:
                  type: string
                  enum: [approved_full, approved_partial, rejected, rejected_laundering]
                reasoning:
                  type: string
      responses:
        '200':
          description: Continuity claim resolved
        '401':
          description: Authentication required

  /api/identity/verify:
    post:
      tags: [Identity]
      summary: Verify an identity binding
      description: |
        Verifies a previously created identity binding. Requires authentication.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [binding_id]
              properties:
                binding_id:
                  type: string
      responses:
        '200':
          description: Binding verification result
        '401':
          description: Authentication required

  # ===========================================================================
  # Needs (Agent Marketplace)
  # ===========================================================================

  /api/needs/broadcast:
    post:
      tags: [Needs]
      summary: Broadcast a need
      description: |
        Broadcast a need to the EMILIA network. Agents declare what capability
        they need, and the network matches them with entities that have the right
        skills and trust profile. Uses semantic embedding for matching and
        optionally evaluates candidates against a trust policy.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [capability_needed]
              properties:
                capability_needed:
                  type: string
                  description: The capability being requested (e.g. "price_comparison")
                context:
                  type: object
                  description: Structured context for matching (e.g. category, geo)
                input_data:
                  type: object
                  description: Data to pass to the fulfilling entity
                budget_cents:
                  type: integer
                  description: Maximum budget in cents
                deadline_ms:
                  type: integer
                  description: Deadline in milliseconds
                min_emilia_score:
                  type: integer
                  default: 0
                  description: Legacy minimum compatibility score threshold
                trust_policy:
                  type: string
                  enum: [strict, standard, permissive, discovery]
                  description: Trust policy for candidate evaluation
                expires_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Need broadcast with suggested entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeedBroadcastResponse'
        '401':
          description: Authentication required

  /api/needs/{id}/claim:
    post:
      tags: [Needs]
      summary: Claim an open need
      description: |
        Claim an open need. Trust is evaluated by policy if the need specifies
        one, or by compatibility score threshold as legacy fallback. The claiming
        entity cannot be the broadcaster. Atomic — only succeeds if the need is
        still open.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Need ID (ep_need_...)
      responses:
        '200':
          description: Need claimed
        '401':
          description: Authentication required
        '403':
          description: Trust evaluation failed or cannot claim own need
        '404':
          description: Need not found
        '409':
          description: Need already claimed or not open
        '410':
          description: Need has expired

  /api/needs/{id}/complete:
    post:
      tags: [Needs]
      summary: Complete a claimed need
      description: |
        Mark a claimed need as completed and provide the output data.
        Only the entity that claimed the need can complete it.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Need ID (ep_need_...)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                output_data:
                  type: object
                  description: The result of fulfilling the need
      responses:
        '200':
          description: Need completed
        '401':
          description: Authentication required
        '403':
          description: Only the claiming entity can complete
        '404':
          description: Need not found
        '409':
          description: Need is not in a completable state

  /api/needs/{id}/rate:
    post:
      tags: [Needs]
      summary: Rate a completed need
      description: |
        Rate the entity that fulfilled a need. Delegates to the same receipt
        engine as /api/receipts/submit. Only the requesting entity can rate.
        Must include at least one signal or agent_behavior.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Need ID (ep_need_...)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_accuracy:
                  type: number
                product_accuracy:
                  type: number
                price_integrity:
                  type: number
                return_processing:
                  type: number
                agent_satisfaction:
                  type: number
                agent_behavior:
                  type: string
                  enum: [completed, retried, abandoned, disputed]
                claims:
                  type: object
                evidence:
                  type: object
                context:
                  type: object
      responses:
        '201':
          description: Need rated, receipt created
        '401':
          description: Authentication required
        '403':
          description: Only the requesting entity can rate
        '404':
          description: Need not found
        '409':
          description: Need not completed or already rated

  # ===========================================================================
  # Commits (Pre-Action Authorization)
  # ===========================================================================

  /api/commit/issue:
    post:
      tags: [Commits]
      summary: Issue a new EP Commit
      description: |
        Issue a signed pre-action authorization. Evaluates the entity against
        trust policy and returns a commit object recording the decision.
        The commit is always returned (even on deny) for audit purposes.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action_type, entity_id]
              properties:
                action_type:
                  type: string
                  enum: [install, connect, delegate, transact]
                entity_id:
                  type: string
                principal_id:
                  type: string
                counterparty_entity_id:
                  type: string
                delegation_id:
                  type: string
                scope:
                  type: object
                  description: What the commit authorizes
                max_value_usd:
                  type: number
                  description: Advisory only — informs policy evaluation. EP does not enforce monetary value.
                context:
                  type: object
                policy:
                  type: string
      responses:
        '201':
          description: Commit issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision:
                    type: string
                    enum: [allow, review, deny]
                  commit:
                    $ref: '#/components/schemas/CommitObject'
        '400':
          description: Validation error
        '401':
          description: Authentication required

  /api/commit/verify:
    post:
      tags: [Commits]
      summary: Verify a commit
      description: |
        Public endpoint — any relying system can verify whether a commit is
        still valid before acting on it. Verification is by commit_id against
        the authoritative DB record (signature, status, expiry, nonce replay).
        Token-level verification (offline) is planned for v2.

        Returns a verdict (valid/invalid + status), NOT the full commit payload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - commit_id
              properties:
                commit_id:
                  type: string
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitVerifyResponse'
        '400':
          description: Missing commit_id

  /api/commit/{commitId}:
    get:
      tags: [Commits]
      summary: Get commit status
      description: |
        Retrieve full commit status and metadata. Auth required.
      security:
        - BearerAuth: []
      parameters:
        - name: commitId
          in: path
          required: true
          schema:
            type: string
          description: Commit ID (starts with epc_)
      responses:
        '200':
          description: Commit details
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit:
                    $ref: '#/components/schemas/CommitObject'
        '401':
          description: Authentication required
        '404':
          description: Commit not found

  /api/commit/{commitId}/revoke:
    post:
      tags: [Commits]
      summary: Revoke a commit
      description: |
        Revoke an active commit before fulfillment. Only the issuing entity
        or the principal may revoke. Terminal states are immutable.
      security:
        - BearerAuth: []
      parameters:
        - name: commitId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Commit revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit_id:
                    type: string
                  status:
                    type: string
                    enum: [revoked]
                  revoked_at:
                    type: string
                    format: date-time
        '401':
          description: Authentication required
        '404':
          description: Commit not found
        '409':
          description: Commit is in a terminal state

  /api/commit/{commitId}/receipt:
    post:
      tags: [Commits]
      summary: Bind receipt to commit
      description: |
        Bind a receipt to a commit and mark it as fulfilled. This closes the
        commit lifecycle — the pre-authorization has been acted upon.
      security:
        - BearerAuth: []
      parameters:
        - name: commitId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [receipt_id]
              properties:
                receipt_id:
                  type: string
      responses:
        '200':
          description: Receipt bound and commit fulfilled
          content:
            application/json:
              schema:
                type: object
                properties:
                  commit_id:
                    type: string
                  status:
                    type: string
                    enum: [fulfilled]
                  receipt_id:
                    type: string
        '401':
          description: Authentication required
        '404':
          description: Commit or receipt not found
        '409':
          description: Commit is not in active state

  /api/commit/{commitId}/dispute:
    post:
      tags: [Commits]
      summary: Dispute a commit
      description: |
        Shortcut to open a dispute from a commit. Looks up the commit, finds
        the bound receipt_id, and delegates to the existing dispute filing
        logic. The commit must have a bound receipt.
      security:
        - BearerAuth: []
      parameters:
        - name: commitId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  default: context_mismatch
                description:
                  type: string
                evidence:
                  type: object
      responses:
        '201':
          description: Dispute filed
        '401':
          description: Authentication required
        '404':
          description: Commit not found
        '409':
          description: Commit has no bound receipt

  /api/commit/keys:
    get:
      tags: [Commits]
      summary: Public signing key discovery
      description: |
        Returns the current Ed25519 public key(s) used to sign EP Commits.
        No authentication required — this is a trust root discovery endpoint
        (JWKS-style). Consumers SHOULD cache this response and re-fetch
        periodically (e.g., every hour or on signature verification failure)
        to pick up key rotations.
      responses:
        '200':
          description: Current signing key set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitKeySet'
        '500':
          description: Failed to retrieve signing keys

  # ===========================================================================
  # Handshake
  # ===========================================================================

  /api/handshake:
    post:
      tags: [Handshake]
      summary: Initiate a handshake
      description: |
        Initiate a new EP Handshake — a structured identity exchange between parties.
        The handshake coordinates mutual presentation of identity proofs before
        a trust decision can be made.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode, policy_id, parties]
              properties:
                mode:
                  type: string
                  description: Handshake mode (e.g. "mutual", "one-way", "delegated")
                policy_id:
                  type: string
                  description: Trust policy governing the handshake
                parties:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    properties:
                      entity_ref:
                        type: string
                      role:
                        type: string
                  description: Parties involved in the handshake (minimum 2)
                binding:
                  type: object
                  description: Optional binding constraints for the handshake
                interaction_id:
                  type: string
                  description: Optional external interaction reference
      responses:
        '201':
          description: Handshake initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandshakeResponse'
        '400':
          description: Invalid request
        '401':
          description: Authentication required
    get:
      tags: [Handshake]
      summary: List handshakes
      description: |
        List handshakes filtered by entity, status, or mode.
        Returns handshakes the authenticated entity is a party to.
      security:
        - BearerAuth: []
      parameters:
        - name: entity_ref
          in: query
          schema:
            type: string
          description: Filter by entity reference
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, active, accepted, rejected, revoked]
          description: Filter by handshake status
        - name: mode
          in: query
          schema:
            type: string
          description: Filter by handshake mode
      responses:
        '200':
          description: List of handshakes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HandshakeResponse'
        '401':
          description: Authentication required

  /api/handshake/{handshakeId}:
    get:
      tags: [Handshake]
      summary: Get handshake details
      description: |
        Get full handshake state including parties, presentations, binding, and result.
      security:
        - BearerAuth: []
      parameters:
        - name: handshakeId
          in: path
          required: true
          schema:
            type: string
          description: Handshake ID
      responses:
        '200':
          description: Full handshake state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandshakeResponse'
        '401':
          description: Authentication required
        '404':
          description: Handshake not found

  /api/handshake/{handshakeId}/present:
    post:
      tags: [Handshake]
      summary: Add identity presentation
      description: |
        Add an identity presentation (proof) to a handshake. Each party presents
        their identity claims for evaluation against the handshake policy.
      security:
        - BearerAuth: []
      parameters:
        - name: handshakeId
          in: path
          required: true
          schema:
            type: string
          description: Handshake ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [party_role, presentation_type, claims]
              properties:
                party_role:
                  type: string
                  description: Role of the presenting party in this handshake
                presentation_type:
                  type: string
                  description: Type of identity presentation (e.g. "verifiable_credential", "ep_trust_profile", "attestation")
                issuer_ref:
                  type: string
                  description: Optional reference to the credential issuer
                claims:
                  type: object
                  description: Identity claims being presented
                disclosure_mode:
                  type: string
                  enum: [full, selective, zk]
                  description: How much of the presentation is disclosed
      responses:
        '201':
          description: Presentation added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandshakePresentationResponse'
        '400':
          description: Invalid request
        '401':
          description: Authentication required
        '404':
          description: Handshake not found

  /api/handshake/{handshakeId}/verify:
    post:
      tags: [Handshake]
      summary: Verify handshake
      description: |
        Evaluate all presentations in a handshake against the governing policy.
        Returns a result: accepted, rejected, or partial (awaiting more presentations).
      security:
        - BearerAuth: []
      parameters:
        - name: handshakeId
          in: path
          required: true
          schema:
            type: string
          description: Handshake ID
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  handshake_id:
                    type: string
                  result:
                    type: string
                    enum: [accepted, rejected, partial]
                  reason_codes:
                    type: array
                    items:
                      type: string
                  evaluated_at:
                    type: string
                    format: date-time
        '401':
          description: Authentication required
        '404':
          description: Handshake not found

  /api/handshake/{handshakeId}/revoke:
    post:
      tags: [Handshake]
      summary: Revoke handshake
      description: |
        Revoke an active handshake. Only parties to the handshake may revoke it.
        Revocation is terminal — the handshake cannot be reopened.
      security:
        - BearerAuth: []
      parameters:
        - name: handshakeId
          in: path
          required: true
          schema:
            type: string
          description: Handshake ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  description: Reason for revocation
      responses:
        '200':
          description: Handshake revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  handshake_id:
                    type: string
                  status:
                    type: string
                    enum: [revoked]
                  revoked_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid request
        '401':
          description: Authentication required
        '404':
          description: Handshake not found

  # ===========================================================================
  # Policies
  # ===========================================================================

  /api/policies:
    get:
      tags: [Policies]
      summary: List all trust policies
      description: Returns all 8 trust policies (4 core + 4 software-specific).
      responses:
        '200':
          description: Policy registry

  # ===========================================================================
  # Operations
  # ===========================================================================

  /api/operators/apply:
    post:
      tags: [Operations]
      summary: Apply to become an operator
      description: |
        Public operator application submission. No authentication required.
        Applications are stored and reviewed by existing operators.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                background:
                  type: string
                motivation:
                  type: string
      responses:
        '201':
          description: Application submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '200':
          description: Already applied (returns existing application ID)

  /api/inquiries:
    post:
      tags: [Operations]
      summary: Submit a partner or investor inquiry
      description: |
        Stores partner and investor inquiries. No authentication required.
        Public form submission endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, name, email]
              properties:
                type:
                  type: string
                  enum: [partner, investor]
                name:
                  type: string
                email:
                  type: string
                  format: email
                org:
                  type: string
                  description: Organization name (partner) or firm name (investor)
                title:
                  type: string
                website:
                  type: string
                partnerType:
                  type: string
                  description: Type of partnership (partner inquiries only)
                trustSurface:
                  type: string
                  description: Trust surface of interest (partner inquiries only)
                timeline:
                  type: string
                  description: Integration timeline (partner inquiries only)
                whyEmilia:
                  type: string
                  description: Investment thesis (investor inquiries only)
                helpOffer:
                  type: string
                  description: How the investor can help (investor inquiries only)
                notes:
                  type: string
      responses:
        '200':
          description: Inquiry received

  /api/waitlist:
    post:
      tags: [Operations]
      summary: Join the waitlist
      description: |
        Landing page waitlist registration. No authentication required.
        Assigns the next available entity number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Assigned entity number
                  email:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '200':
          description: Already registered

  # ===========================================================================
  # System
  # ===========================================================================

  /api/health:
    get:
      tags: [System]
      summary: Health check
      responses:
        '200':
          description: System health with subsystem status

  /api/stats:
    get:
      tags: [System]
      summary: Public proof metrics
      description: Returns entity count, test count, tool count, and policy count.
      responses:
        '200':
          description: Public stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

  /api/leaderboard:
    get:
      tags: [Trust]
      summary: Entity leaderboard
      parameters:
        - name: sort
          in: query
          schema:
            type: string
            enum: [score, confidence, evidence]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Ranked entities

  /api/feed:
    get:
      tags: [Needs]
      summary: Live needs feed (SSE)
      description: |
        Server-Sent Events stream of open needs. Agents connect to this to
        discover work opportunities in real time. Polls every 5 seconds.
        No authentication required.
      parameters:
        - name: capability
          in: query
          schema:
            type: string
          description: Filter by capability type
        - name: category
          in: query
          schema:
            type: string
          description: Filter by context category (e.g. "electronics")
        - name: trust_policy
          in: query
          schema:
            type: string
            enum: [strict, standard, permissive, discovery]
          description: Only show needs requiring this policy
        - name: min_confidence
          in: query
          schema:
            type: string
            enum: [pending, insufficient, provisional, emerging, confident]
          description: Only show needs where broadcaster meets this confidence
        - name: min_score
          in: query
          schema:
            type: number
            default: 0
          description: Legacy — only show needs requiring at most this score
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: SSE stream of open needs
          content:
            text/event-stream:
              schema:
                type: string

  /api/audit:
    get:
      tags: [System]
      summary: Query the audit trail
      description: |
        Query the append-only audit trail. Requires authentication.
        Every trust-changing action is recorded with before/after state.
      security:
        - BearerAuth: []
      parameters:
        - name: target_id
          in: query
          schema:
            type: string
          description: Filter by target entity/dispute/receipt ID
        - name: target_type
          in: query
          schema:
            type: string
          description: Filter by target type (e.g. "dispute", "receipt", "entity")
        - name: actor_id
          in: query
          schema:
            type: string
          description: Filter by the actor who performed the action
        - name: event_type
          in: query
          schema:
            type: string
          description: Filter by event type
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Audit events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '401':
          description: Authentication required

  # ===========================================================================
  # Internal / Cron
  # ===========================================================================

  /api/cron/expire:
    get:
      tags: [Internal]
      summary: Expire stale records (cron)
      x-internal: true
      x-access: cron
      description: |
        Scheduled job that enforces time-based protocol rules:
        1. Bilateral confirmations: expire after 48 hours
        2. Dispute response deadlines: escalate after 7 days
        3. Continuity claims: expire after 30 days

        Called via Vercel Cron or external scheduler.
      security:
        - CronAuth: []
      responses:
        '200':
          description: Expiration results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, partial]
                  timestamp:
                    type: string
                    format: date-time
                  bilateral_expired:
                    type: integer
                  disputes_escalated:
                    type: integer
                  continuity_expired:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: object
        '401':
          description: CRON_SECRET required

  /api/blockchain/anchor:
    post:
      tags: [Internal]
      summary: Anchor receipts to blockchain (cron)
      x-internal: true
      x-access: cron
      description: |
        Cron endpoint: collects unanchored receipts, builds Merkle tree,
        and anchors root to Base L2. Called every 6 hours via Vercel Cron.
      security:
        - CronAuth: []
      responses:
        '200':
          description: Anchor batch result
        '401':
          description: CRON_SECRET required
    get:
      tags: [Internal]
      summary: Anchor receipts to blockchain (cron, GET alias)
      x-internal: true
      x-access: cron
      description: GET alias for Vercel Cron (which sends GET by default).
      security:
        - CronAuth: []
      responses:
        '200':
          description: Anchor batch result
        '401':
          description: CRON_SECRET required

  # ===========================================================================
  # Signoff (Accountable Human Signoff)
  # ===========================================================================

  /api/signoff/challenge:
    post:
      tags: [Signoff]
      summary: Issue a signoff challenge
      description: >
        Issue a new Accountable Signoff challenge. A challenge represents a
        request for a human entity to review and attest to an action before
        it may proceed. The challenge is cryptographically bound to a specific
        handshake binding via binding_hash.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handshakeId, accountableActorRef, signoffPolicyId, expiresAt]
              properties:
                handshakeId:
                  type: string
                  format: uuid
                  description: The handshake this signoff is bound to
                accountableActorRef:
                  type: string
                  description: entity_ref of the accountable human actor
                signoffPolicyId:
                  type: string
                  description: Policy governing this signoff ceremony
                expiresAt:
                  type: string
                  format: date-time
                  description: ISO 8601 expiration timestamp
      responses:
        '201':
          description: Challenge issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [challenge_issued]
                  expires_at:
                    type: string
                    format: date-time
        '400':
          description: Missing or invalid required fields
        '401':
          description: Not authorized

  /api/signoff/{challengeId}:
    get:
      tags: [Signoff]
      summary: Get signoff challenge details
      description: >
        Retrieve details of a signoff challenge by ID. Returns the challenge
        record including current status, binding material, and expiry.
      security:
        - BearerAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Signoff challenge ID
      responses:
        '200':
          description: Challenge details
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_id:
                    type: string
                    format: uuid
                  handshake_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [challenge_issued, challenge_viewed, approved, denied, expired, revoked, consumed]
                  binding_hash:
                    type: string
                  accountable_actor_ref:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '401':
          description: Not authorized
        '404':
          description: Challenge not found

  /api/signoff/{challengeId}/attest:
    post:
      tags: [Signoff]
      summary: Attest a signoff challenge
      description: |
        Create a signoff attestation — the accountable human entity confirms
        they have reviewed and approve the challenged action. The attestation
        is cryptographically bound via attestationHash and is one-time: a
        consumed attestation cannot be reused.
      security:
        - BearerAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
          description: Signoff challenge ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [humanEntityRef, authMethod, assuranceLevel, channel, attestationHash]
              properties:
                humanEntityRef:
                  type: string
                  description: Entity ref of the attesting human
                authMethod:
                  type: string
                  description: Authentication method used (e.g. "api_key", "oauth")
                assuranceLevel:
                  type: string
                  description: Level of identity assurance (e.g. "high", "medium")
                channel:
                  type: string
                  description: Channel through which attestation was made
                attestationHash:
                  type: string
                  description: Cryptographic hash binding the attestation
      responses:
        '201':
          description: Attestation created
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Missing or invalid required fields
        '401':
          description: Authentication required
        '403':
          description: Not authorized to attest this challenge
        '500':
          description: Attestation creation failed

  /api/signoff/{challengeId}/deny:
    post:
      tags: [Signoff]
      summary: Deny a signoff challenge
      description: |
        Deny a signoff challenge — the accountable human entity declines the
        requested action. Updates challenge status to "denied" and emits a
        protocol event. The agent system must treat a denial as a hard block.
      security:
        - BearerAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
          description: Signoff challenge ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Optional human-readable reason for the denial
      responses:
        '200':
          description: Challenge denied
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
        '401':
          description: Authentication required
        '403':
          description: Not authorized to deny this challenge
        '500':
          description: Denial failed

  /api/signoff/{challengeId}/revoke:
    post:
      tags: [Signoff]
      summary: Revoke a signoff challenge or attestation
      description: |
        Revoke a signoff challenge or its attestation. If the challenge has an
        active attestation and revokeAttestation is true in the body, the
        attestation is revoked; otherwise the challenge itself is revoked.
        Revocation is terminal — a revoked challenge cannot be reopened.
      security:
        - BearerAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
          description: Signoff challenge ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                revokeAttestation:
                  type: boolean
                  description: If true, revoke the attestation rather than the challenge itself
                reason:
                  type: string
                  description: Optional reason for revocation
      responses:
        '200':
          description: Challenge or attestation revoked
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request
        '401':
          description: Authentication required
        '403':
          description: Not authorized to revoke this challenge
        '500':
          description: Revocation failed

  /api/signoff/{challengeId}/consume:
    post:
      tags: [Signoff]
      summary: Consume a signoff attestation
      description: |
        Consume a signoff attestation — marks the attestation as used by
        binding it to a specific execution. A consumed signoff cannot be
        reused, ensuring one-time authorization semantics. The executionRef
        ties the signoff to the actual action taken.
      security:
        - BearerAuth: []
      parameters:
        - name: challengeId
          in: path
          required: true
          schema:
            type: string
          description: Signoff challenge ID (also used as signoff ID)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [executionRef]
              properties:
                executionRef:
                  type: string
                  description: Reference to the execution consuming this signoff
      responses:
        '201':
          description: Signoff consumed and bound to execution
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Missing executionRef
        '401':
          description: Authentication required
        '403':
          description: Not authorized to consume this signoff
        '500':
          description: Consumption failed

  # ===========================================================================
  # Keys
  # ===========================================================================

  /api/keys/rotate:
    post:
      tags: [Entities]
      summary: Rotate API key
      description: |
        Rotates the caller's API key. The old key is revoked immediately and
        a new key is issued. The entity's identity, trust score, and history
        are preserved — only the credential changes.

        The new key is returned ONCE and must be stored securely. It cannot
        be retrieved after the response.
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Key rotated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_key:
                    type: string
                    description: The newly issued API key (shown once — store securely)
                  rotated_at:
                    type: string
                    format: date-time
                  old_key_invalidated:
                    type: boolean
                    example: true
        '400':
          description: Invalid request
        '401':
          description: Authentication required — current key must be valid
        '403':
          description: Not authorized
        '500':
          description: Key rotation failed

  # ===========================================================================
  # Cloud (Tenant API)
  # ===========================================================================

  /api/cloud/scoring/recommendations:
    get:
      tags: [Cloud]
      summary: Get scoring weight calibration recommendations
      description: |
        Returns weight calibration recommendations based on dispute outcomes
        for the authenticated tenant. Requires Cloud API authentication
        (tenant-scoped).

        The recommendation does NOT auto-apply. Feed it into
        POST /api/cloud/policies/{policyId}/simulate to backtest, then
        POST /api/cloud/policies/{policyId}/rollout to deploy with signoff.

        Query parameters control the rolling window and optional vertical
        pack comparison.
      security:
        - BearerAuth: []
      parameters:
        - name: window
          in: query
          required: false
          schema:
            type: integer
            default: 90
            minimum: 7
            maximum: 365
          description: Rolling window in days for dispute outcome analysis
        - name: vertical
          in: query
          required: false
          schema:
            type: string
            enum: [government, financial, agent_governance, ecommerce]
          description: Include a named vertical pack for weight comparison
      responses:
        '200':
          description: Calibration recommendations with analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendation:
                    type: object
                    nullable: true
                    description: Proposed weights with confidence and sample size (null if insufficient data)
                  sufficient_data:
                    type: boolean
                  reason:
                    type: string
                  analysis:
                    type: object
                    description: Per-dimension overweight/underweight ratios
                  vertical_pack:
                    type: object
                    nullable: true
                    description: The requested vertical preset weights (if vertical query param was provided)
                  current_weights:
                    type: object
                    description: Protocol default weights for comparison
        '400':
          description: Invalid vertical name
        '401':
          description: Cloud API authentication required
        '403':
          description: Not authorized for this tenant
        '500':
          description: Weight calibration computation failed

  /api/cloud/policies/{policyId}/simulate:
    post:
      tags: [Cloud]
      summary: Simulate a policy against a test scenario
      description: |
        Simulate a policy against a test scenario without applying it.
        Returns the policy rules and scenario evaluation results as a
        dry-run. Requires Cloud API write permission.

        Use this to validate a weight recommendation (from
        GET /api/cloud/scoring/recommendations) before committing to a rollout.
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
          description: Policy ID to simulate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scenario]
              properties:
                scenario:
                  type: object
                  description: Test scenario to evaluate against the policy rules
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: string
                  policy_type:
                    type: string
                  scenario:
                    type: object
                  result:
                    type: object
                    properties:
                      simulated:
                        type: boolean
                      policy_rules:
                        type: object
                      evaluated_at:
                        type: string
                        format: date-time
                  tenant_id:
                    type: string
        '400':
          description: Missing scenario in request body
        '401':
          description: Cloud API authentication required
        '403':
          description: Write permission required
        '500':
          description: Simulation failed

  /api/cloud/audit/export:
    get:
      tags: [Cloud]
      summary: Export audit events for compliance
      description: |
        Export all events in a date range for compliance or archival.
        Requires admin permission (bulk data export).
      security:
        - BearerAuth: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Start of date range (inclusive)
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: End of date range (inclusive)
        - name: limit
          in: query
          schema:
            type: integer
            default: 500
            maximum: 5000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Exported audit events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  tenant_id:
                    type: string
                  exported_at:
                    type: string
                    format: date-time
        '401':
          description: Cloud API authentication required
        '403':
          description: Admin permission required
        '500':
          description: Export failed

  /api/cloud/audit/integrity:
    get:
      tags: [Cloud]
      summary: Verify audit event integrity
      description: |
        Run integrity verification across event tables.
        Returns an anomaly list and integrity score.
        Requires read permission.
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start of verification window
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End of verification window
      responses:
        '200':
          description: Integrity verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id:
                    type: string
        '401':
          description: Cloud API authentication required
        '403':
          description: Read permission required
        '500':
          description: Integrity check failed

  /api/cloud/audit/report:
    get:
      tags: [Cloud]
      summary: Generate audit report
      description: |
        Generate an audit report: event summary and integrity score for a date range.
        Requires read permission.
      security:
        - BearerAuth: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
          description: Start of report range
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
          description: End of report range
      responses:
        '200':
          description: Audit report
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_events:
                    type: integer
                  integrity:
                    type: object
                  date_range:
                    type: object
                    properties:
                      from:
                        type: string
                        nullable: true
                      to:
                        type: string
                        nullable: true
                  tenant_id:
                    type: string
                  generated_at:
                    type: string
                    format: date-time
        '401':
          description: Cloud API authentication required
        '403':
          description: Read permission required
        '500':
          description: Report generation failed

  /api/cloud/events/search:
    get:
      tags: [Cloud]
      summary: Full-text search across EP events
      description: |
        Full-text search across all EP event tables for the authenticated tenant.
        Requires read permission.
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query string
        - name: event_types
          in: query
          schema:
            type: string
          description: Comma-separated list of event types to filter by
        - name: date_from
          in: query
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Matching events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer
                  tenant_id:
                    type: string
        '400':
          description: Query parameter "q" is required
        '401':
          description: Cloud API authentication required
        '403':
          description: Read permission required
        '500':
          description: Search failed

  /api/cloud/events/timeline/{handshakeId}:
    get:
      tags: [Cloud]
      summary: Get event timeline for a handshake
      description: |
        Chronological timeline of all events for a single handshake.
        Requires read permission.
      security:
        - BearerAuth: []
      parameters:
        - name: handshakeId
          in: path
          required: true
          schema:
            type: string
          description: Handshake ID
      responses:
        '200':
          description: Handshake event timeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  handshake_id:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer
                  tenant_id:
                    type: string
        '400':
          description: handshakeId path parameter is required
        '401':
          description: Cloud API authentication required
        '403':
          description: Read permission required
        '500':
          description: Timeline query failed

  /api/cloud/policies/{policyId}/diff:
    get:
      tags: [Cloud]
      summary: Diff two policy versions
      description: |
        Compare two versions of a policy to see what changed.
        Requires read permission.
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
          description: Policy ID
        - name: v1
          in: query
          required: true
          schema:
            type: integer
          description: First version number to compare
        - name: v2
          in: query
          required: true
          schema:
            type: integer
          description: Second version number to compare
      responses:
        '200':
          description: Policy diff result
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: string
                  v1:
                    type: object
                  v2:
                    type: object
                  tenant_id:
                    type: string
        '400':
          description: Both v1 and v2 query parameters are required
        '401':
          description: Cloud API authentication required
        '403':
          description: Read permission required
        '500':
          description: Policy diff query failed

  /api/cloud/policies/{policyId}/rollout:
    post:
      tags: [Cloud]
      summary: Initiate a policy version rollout
      description: |
        Initiate a rollout of a policy version to the specified environment.
        Requires admin permission (deployment-level action).
      security:
        - BearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
          description: Policy ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, environment]
              properties:
                version:
                  type: integer
                  description: Policy version number to roll out
                environment:
                  type: string
                  description: Target environment (e.g. "production", "staging")
                strategy:
                  type: string
                  enum: [immediate, canary]
                  default: immediate
      responses:
        '200':
          description: Rollout initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id:
                    type: string
                  version:
                    type: integer
                  environment:
                    type: string
                  strategy:
                    type: string
                  status:
                    type: string
                  initiated_at:
                    type: string
                    format: date-time
                  tenant_id:
                    type: string
        '400':
          description: version and environment are required
        '401':
          description: Cloud API authentication required
[...]
