# EMILIA GovGuard — Public API v1 (slim surface)
#
# This is the buyer-facing API surface for GovGuard pilots. It is
# deliberately narrower than the canonical openapi.yaml — only the
# adapter endpoints and receipt/signoff endpoints that a pilot integrator
# actually uses:
#
#   Adapter Prechecks — government workflow fire-drill entry points
#   Trust Receipts — create, read, consume, evidence
#   Signoffs       — request, approve, reject
#
# The full protocol surface (Disputes, Identity, Delegations, Needs,
# Eye, Federation, Software Trust) lives in openapi.yaml at the repo
# root. That file is the canonical protocol spec — implementers and
# auditors should read it. THIS file exists so a procurement team can
# read 700 lines instead of 4,400 to understand what GovGuard does.
#
# When in doubt, the canonical openapi.yaml wins. This file is a
# projection, not a separate API.
#
# License: Apache-2.0

openapi: 3.0.3

info:
  title: EMILIA GovGuard — Pre-Execution Trust Receipts API
  version: "1.0.0"
  description: |
    GovGuard is the productized surface of EMILIA Protocol focused on
    pre-payment control, benefit redirection prevention, provider enrollment
    integrity, eligibility override accountability, and operator override
    control for government workflows.

    Every request gates a single proposed action. The response is a
    cryptographically signed Trust Receipt that records who authorized
    what, under which policy, with what evidence — verifiable offline
    by anyone via the open-source `@emilia-protocol/verify` npm package.

    This slim API doc covers the GovGuard adapter endpoints plus the
    receipt/signoff lifecycle needed for a pilot integration. The full
    protocol surface (disputes, identity, delegations, federation) is available at
    https://github.com/emiliaprotocol/emilia-protocol/blob/main/openapi.yaml
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: EMILIA Protocol
    email: team@emiliaprotocol.ai
    url: https://emiliaprotocol.ai/govguard

servers:
  - url: https://emiliaprotocol.ai
    description: Primary operator (production)

tags:
  - name: Adapter Prechecks
    description: |
      GovGuard fire-drill entry points. Each adapter converts a government
      workflow into a canonical action, evaluates policy, and returns the
      authorization receipt/precheck response.
  - name: Trust Receipts
    description: |
      Create, read, consume, and audit-evidence pre-action trust
      receipts. Every receipt binds actor identity + authority chain +
      policy version + exact action context into one cryptographic
      ceremony, consumable exactly once.
  - name: Signoffs
    description: |
      Named human accountability flow. When policy requires it, a
      specific principal explicitly assumes responsibility for an
      exact action before consume.
  - name: Cloud Approval Prototype
    description: |
      Experimental pre-standard connected prototype for one tenant-scoped
      `large_payment_release` approval flow. This is not a production API, is
      not a certification program, and is not an interoperability claim. Its
      server-computed CAID identifies exact `payment.release.1` typed action
      content; CAID does not establish authorization.

paths:
  /api/v1/adapters/gov/vendor-payment-destination-change/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a government vendor payment-destination change
      description: |
        Converts a vendor payment destination update into
        `gov.vendor_payment_destination_change`. This is the primary
        fake-bank-change-email fire-drill endpoint: the changed destination is
        bound into the action hash and Class-A signoff is required.
      operationId: precheckGovVendorPaymentDestinationChange
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/disbursement-release/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a government disbursement release
      description: |
        Converts a treasury/AP release into `gov.disbursement_release`.
        Disbursement release requires Class-A accountable signoff before money
        moves; >= $1M escalates to the dual-authorization tier.
      operationId: precheckGovDisbursementRelease
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/grant-disbursement/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a grant disbursement
      description: |
        Converts a grant/program payment into `gov.grant_disbursement`.
        The grant id, program id, amount, policy hash, and execution-binding
        fields are bound into the authorization receipt.
      operationId: precheckGovGrantDisbursement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/provider-enrollment-change/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a provider enrollment change
      description: |
        Converts provider enrollment/payment-address changes into
        `gov.provider_enrollment_change`. Used for Medicaid/SNAP/vendor-like
        provider files where one record change can redirect future payments.
      operationId: precheckGovProviderEnrollmentChange
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/health/hospice-claim/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a PHI-free hospice authorization and claim-payment action
      description: |
        Binds the exact provider, pseudonymous member reference, service period,
        authorization digest, amount, payment-destination digest, named reviewer,
        authority proof, and policy under
        `health.medi-cal.hospice-claim-payment.1`. Requires authenticated tenant
        context and deployment-configured durable state and trust adapters.
      operationId: precheckHealthHospiceClaim
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_id, action, authorization]
              properties:
                organization_id: { type: string }
                action: { type: object }
                authorization: { type: object }
      responses:
        '201': { description: Exact action prepared as one bounded operation }
        '409':
          description: Action mismatch, conflict, or replay refused
        '422': { description: Authorization or authority requirement unsatisfied }
        '503': { description: Durable state or verifier dependency unavailable }

  /api/v1/adapters/health/hospice-claim/reconcile:
    post:
      tags: [Adapter Prechecks]
      summary: Reconcile an indeterminate hospice claim operation
      description: |
        Authenticates provider evidence for the same operation, CAID, and
        idempotency key. This endpoint never retries the claim.
      operationId: reconcileHealthHospiceClaim
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_id, operation_id, evidence]
              properties:
                organization_id: { type: string }
                operation_id: { type: string }
                evidence: { type: object }
      responses:
        '200': { description: Authenticated terminal reconciliation recorded }
        '400': { description: Malformed or unauthenticated evidence }
        '409': { description: Reconciliation conflict or replay refused }
        '503': { description: Durable state or verifier dependency unavailable }

  /api/v1/adapters/gov/eligibility-override/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck an eligibility override
      description: |
        Converts a regulated eligibility decision override into
        `gov.eligibility_override`. The case, decision, rule, and override
        reason are bound so a supervisor signs the exact exception.
      operationId: precheckGovEligibilityOverride
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/benefit-bank-change/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a benefit bank-account change
      description: |
        Converts benefit direct-deposit changes into
        `benefit_bank_account_change`. Money-destination fields always require
        Class-A signoff.
      operationId: precheckGovBenefitBankChange
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/benefit-address-change/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a benefit address/contact routing change
      description: |
        Converts benefit mailing/contact/identity-routing changes into
        `benefit_address_change`. Address/contact fields that can redirect
        notices, credentials, or downstream disbursement routing require
        Class-A signoff.
      operationId: precheckGovBenefitAddressChange
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/adapters/gov/caseworker-override/precheck:
    post:
      tags: [Adapter Prechecks]
      summary: Precheck a caseworker/operator override
      description: |
        Converts operator overrides into `caseworker_override`. The override
        cannot proceed in enforce mode without named signoff bound to the exact
        case, decision, and reason.
      operationId: precheckGovCaseworkerOverride
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GovGuardPrecheckRequest'
      responses:
        '201':
          description: GovGuard precheck result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'

  /api/v1/trust-receipts:
    post:
      tags: [Trust Receipts]
      summary: Create a pre-action trust receipt
      description: |
        Issues a pre-action trust receipt for a proposed high-risk
        action. The receipt records the canonical action, policy
        evaluation, signoff requirement (if any), and a one-time
        consumption nonce.

        **Modes:**
          - `observe` — evaluate, log, never block
          - `warn`    — return decision, allow caller to act
          - `enforce` — fail closed if policy denies or signoff missing

        **Receipt expiry:** 24 hours from creation.
      operationId: createTrustReceipt
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrustReceiptRequest'
      responses:
        '201':
          description: Receipt created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — actor_id in body does not match authenticated entity
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/trust-receipts/{receiptId}:
    get:
      tags: [Trust Receipts]
      summary: Read receipt state
      description: |
        Replays the audit-event log for the receipt and returns the
        current state. Idempotent. Receipt state is the projection
        of the append-only event chain — every read produces the same
        state for a given receipt unless new events have been
        appended (consume, signoff approval, etc.).
      operationId: getTrustReceipt
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: Receipt found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustReceipt'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/trust-receipts/{receiptId}/consume:
    post:
      tags: [Trust Receipts]
      summary: One-time consume bound to action_hash
      description: |
        Consumes the receipt as the action executes. Bound to the
        exact action_hash issued at receipt creation. Returns 409 if
        the receipt has already been consumed (one-time-only),
        410 if expired, 409 if action_hash differs, 403 if signoff
        was required but not approved.
      operationId: consumeTrustReceipt
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumeTrustReceiptRequest'
      responses:
        '200':
          description: Receipt consumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumeTrustReceiptResponse'
        '403':
          description: Signoff required but not approved, or signoff was rejected
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Receipt already consumed, or action_hash mismatch
        '410':
          description: Receipt expired

  /api/v1/trust-receipts/{receiptId}/evidence:
    get:
      tags: [Trust Receipts]
      summary: Full evidence packet (auditor view)
      description: |
        Returns the complete evidence packet for an external auditor:
        full timeline of state transitions, signoff trail (if any),
        consume record (if any), action hash, policy hash, and the
        signed EP-RECEIPT-v1 document. Verifiable offline with
        `npm install @emilia-protocol/verify`.
      operationId: getTrustReceiptEvidence
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: Evidence packet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidencePacket'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/signoffs/request:
    post:
      tags: [Signoffs]
      summary: Open a signoff request against a pending receipt
      description: |
        Opens a single named-human-accountability request against a receipt
        whose policy required signoff. This slim single-signoff schema requires
        `approver_id`; quorum roster fan-out is outside this schema. Returns a
        `signoff_id` bound to the receipt's `action_hash`. Approval window
        defaults to 4 hours; configurable via `expires_in_minutes` (max 1440).
      operationId: requestSignoff
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestSignoffRequest'
      responses:
        '201':
          description: Signoff request opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignoffRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Receipt does not require signoff, or signoff already requested

  /api/v1/signoffs/{signoffId}/approve:
    post:
      tags: [Signoffs]
      summary: Record a plain bearer-key approval (Class C)
      description: |
        The authenticated named approver submits the exact
        `approved_action_hash`. The service records the approval as a Class-C,
        operator-custodied decision; this is not WebAuthn or Class-A evidence.
        Self-approval and approver mismatch are rejected. A receipt requiring
        Class A must use the WebAuthn decision flow and this route refuses it.
      operationId: approveSignoff
      security:
        - BearerAuth: []
      x-emilia-key-class: C
      x-emilia-decision-recording: service-recorded
      parameters:
        - $ref: '#/components/parameters/SignoffId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveSignoffRequest'
      responses:
        '200':
          description: Class-C service-recorded signoff approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignoffDecision'
        '400':
          description: approved_action_hash is missing
        '401':
          description: Missing or invalid bearer credential
        '403':
          description: Self-approval, approver mismatch, or Class-A assurance required
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: approved_action_hash mismatch, missing bound approver, or signoff already decided
        '410':
          description: Signoff window expired

  /api/v1/signoffs/{signoffId}/reject:
    post:
      tags: [Signoffs]
      summary: Record a plain bearer-key rejection (Class C)
      description: |
        The authenticated named approver submits the exact
        `approved_action_hash` and the service records a Class-C,
        operator-custodied rejection. This is not WebAuthn or Class-A evidence.
        The rejected receipt cannot be consumed. A receipt requiring Class A
        must use the WebAuthn decision flow and this route refuses it.
      operationId: rejectSignoff
      security:
        - BearerAuth: []
      x-emilia-key-class: C
      x-emilia-decision-recording: service-recorded
      parameters:
        - $ref: '#/components/parameters/SignoffId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectSignoffRequest'
      responses:
        '200':
          description: Class-C service-recorded signoff rejection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignoffDecision'
        '400':
          description: approved_action_hash is missing
        '401':
          description: Missing or invalid bearer credential
        '403':
          description: Self-approval, approver mismatch, or Class-A assurance required
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: approved_action_hash mismatch, missing bound approver, or signoff already decided
        '410':
          description: Signoff window expired

  /api/cloud/approvals:
    get:
      tags: [Cloud Approval Prototype]
      summary: List the tenant's connected approval queue
      description: |
        Experimental pre-standard prototype. Lists only approval requests
        created by the authenticated tenant's Cloud key through this connected
        surface. Every item is the fixed `large_payment_release` action type.
        Each item exposes the server-computed `action_caid` for the exact
        `payment.release.1` typed content. CAID identifies content; it does not
        establish authorization.
        Requires a tenant-bound Cloud bearer key with `approval_request` or
        `admin`.

        This route is not a production API, is not a certification program,
        and is not an interoperability claim.
      operationId: listCloudApprovalPrototype
      security:
        - CloudBearerAuth: []
      x-emilia-maturity: experimental-pre-standard-prototype
      x-emilia-permissions: [approval_request, admin]
      x-emilia-fixed-action-type: large_payment_release
      x-emilia-caid-action-type: payment.release.1
      responses:
        '200':
          description: Tenant-scoped approval queue and status summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudApprovalQueueResponse'
        '401':
          description: A valid Cloud API key is required
        '403':
          description: The Cloud key lacks approval_request or admin
        '503':
          description: The tenant-scoped approval queue is unavailable
        '500':
          description: Approval queue failed unexpectedly
    post:
      tags: [Cloud Approval Prototype]
      summary: Create one connected large-payment approval request
      description: |
        Experimental pre-standard prototype. Creates exactly one
        `large_payment_release` receipt in enforce mode, binds the amount,
        currency, counterparty name, payment destination hash, and payment
        reference, and opens a one-hour signoff request for the named
        `approver_id`. The response includes a server-computed `action_caid`
        for `payment.release.1`. CAID identifies exact typed action content; it
        does not establish authorization. The route refuses to continue unless
        receipt creation requires Class-A assurance.

        The returned `review_path` enters the WebAuthn/WYSIWYS Class-A review
        flow. The plain bearer-key signoff decision routes are Class C and
        cannot decide this request. Requires a tenant-bound Cloud bearer key
        with `approval_request` or `admin`.

        This route is not a production API, is not a certification program,
        and is not an interoperability claim.
      operationId: createCloudApprovalPrototype
      security:
        - CloudBearerAuth: []
      x-emilia-maturity: experimental-pre-standard-prototype
      x-emilia-permissions: [approval_request, admin]
      x-emilia-fixed-action-type: large_payment_release
      x-emilia-caid-action-type: payment.release.1
      x-emilia-required-assurance: A
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudApprovalCreateRequest'
      responses:
        '201':
          description: Pending Class-A approval request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudApprovalCreateResponse'
        '400':
          description: Invalid payment or approver input
        '401':
          description: A valid Cloud API key is required
        '403':
          description: The Cloud key lacks approval_request or admin, or cannot create the bounded receipt
        '413':
          description: Request body exceeds 32 KiB
        '404':
          description: A delegated receipt or signoff resource was not found
        '409':
          description: Delegated signoff state conflicts with the new request
        '410':
          description: The delegated receipt expired before signoff creation
        '500':
          description: Approval creation failed or the Class-A invariant was not met

  /api/cloud/approvals/{receiptId}/consume:
    post:
      tags: [Cloud Approval Prototype]
      summary: Consume an approved connected request exactly once
      description: |
        Experimental pre-standard prototype. Consumes the tenant-owned
        `large_payment_release` receipt once after its Class-A approval. The
        supplied `action_hash` must exactly match issuance. The server fixes
        `executing_system` to `emilia_cloud_approval_endpoint`; callers cannot
        override it. A consumed receipt cannot be reused.

        Consumption records one-time authorization use; this prototype route
        does not itself move money. Requires a tenant-bound Cloud bearer key
        with `approval_request` or `admin`.

        This route is not a production API, is not a certification program,
        and is not an interoperability claim.
      operationId: consumeCloudApprovalPrototype
      security:
        - CloudBearerAuth: []
      x-emilia-maturity: experimental-pre-standard-prototype
      x-emilia-permissions: [approval_request, admin]
      x-emilia-fixed-action-type: large_payment_release
      x-emilia-caid-action-type: payment.release.1
      x-emilia-consumption: one-time
      parameters:
        - $ref: '#/components/parameters/CloudApprovalReceiptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudApprovalConsumeRequest'
      responses:
        '200':
          description: Receipt consumed once
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudApprovalConsumeResponse'
        '400':
          description: Invalid receipt_id or action_hash
        '401':
          description: A valid Cloud API key is required
        '403':
          description: The Cloud key lacks approval_request or admin, or Class-A approval is absent or rejected
        '404':
          description: No tenant-owned connected approval receipt was found
        '409':
          description: Receipt already consumed or action_hash mismatch
        '410':
          description: Receipt expired

  /api/cloud/approvals/{receiptId}/evidence:
    get:
      tags: [Cloud Approval Prototype]
      summary: Export the connected approval evidence packet
      description: |
        Experimental pre-standard prototype. Exports the tenant-owned JSON
        evidence packet for the fixed `large_payment_release` receipt,
        including its audit timeline, recorded signoff decision, consumption
        state, and signed offline-verifiable receipt fields when the underlying
        evidence route can honestly produce them. For a signed packet,
        `document.payload.claim.canonical_action.action_caid` carries the
        server-computed `payment.release.1` identifier. The create response and
        queue expose `action_caid` directly. CAID identifies exact typed action
        content; it does not establish authorization.

        The export is evidence, not a certification or an interoperability
        result. Requires a tenant-bound Cloud bearer key with
        `approval_request` or `admin`.
      operationId: exportCloudApprovalPrototypeEvidence
      security:
        - CloudBearerAuth: []
      x-emilia-maturity: experimental-pre-standard-prototype
      x-emilia-permissions: [approval_request, admin]
      x-emilia-fixed-action-type: large_payment_release
      x-emilia-caid-action-type: payment.release.1
      parameters:
        - $ref: '#/components/parameters/CloudApprovalReceiptId'
      responses:
        '200':
          description: JSON approval evidence packet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudApprovalEvidence'
        '400':
          description: Invalid receipt_id
        '401':
          description: A valid Cloud API key is required
        '403':
          description: The Cloud key lacks approval_request or admin
        '404':
          description: No tenant-owned connected approval receipt was found
        '500':
          description: Approval evidence export failed

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-token
      description: |
        Bearer token issued at pilot onboarding. Each token is bound
        to a specific tenant (organization_id). Mutating endpoints
        require this; read endpoints currently require it as well
        for v1.
    CloudBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ep_ or ept_ Cloud API key
      description: |
        Active tenant-bound Cloud API key supplied as
        `Authorization: Bearer <key>`. Connected approval operations require
        the named `approval_request` capability or `admin`.

  parameters:
    CloudApprovalReceiptId:
      name: receiptId
      in: path
      required: true
      description: Connected approval receipt ID
      schema:
        type: string
        pattern: '^tr_[a-f0-9]{32}$'
    ReceiptId:
      name: receiptId
      in: path
      required: true
      schema:
        type: string
        pattern: '^tr_[a-f0-9]{32}$'
        example: tr_4f2a1b8c9d3e7f0a4b1c8d3e9f2a4b1c
      description: Receipt ID — `tr_` followed by 32 lowercase hex characters

    SignoffId:
      name: signoffId
      in: path
      required: true
      schema:
        type: string
        pattern: '^sig_[a-f0-9]{32}$'
      description: Signoff request ID — `sig_` followed by 32 lowercase hex characters

  schemas:
    GovGuardPrecheckRequest:
      type: object
      required: [organization_id, before_state, after_state]
      properties:
        organization_id:
          type: string
          description: Tenant identifier. Cross-checked against the authenticated API key.
          example: org_demo_treasury
        enforcement_mode:
          type: string
          enum: [observe, warn, enforce]
          default: enforce
        strict_evidence:
          type: boolean
          description: |
            When true, fail closed if the evidence event cannot be durably
            recorded. Enforce mode is strict by default.
        target_changed_fields:
          type: array
          items: { type: string }
        before_state:
          type: object
          description: Pre-change state of the target. Hashed into the receipt.
        after_state:
          type: object
          description: Proposed post-change state. Hashed into the receipt.
        vendor_id: { type: string }
        recipient_id: { type: string }
        case_id: { type: string }
        payment_instruction_id: { type: string }
        grant_id: { type: string }
        award_id: { type: string }
        agency_id: { type: string }
        program_id: { type: string }
        provider_id: { type: string }
        npi: { type: string }
        provider_tax_id_hash: { type: string }
        provider_status: { type: string }
        claimant_id: { type: string }
        eligibility_case_id: { type: string }
        eligibility_rule: { type: string }
        eligibility_status: { type: string }
        benefit_amount: { type: number }
        amount: { type: number }
        currency:
          type: string
          example: USD
        bank_account:
          type: string
          description: Prefer a redacted value or hash; do not send raw account numbers in a pilot.
        bank_account_hash:
          type: string
          description: Hash of the proposed account identifier; preferred over raw account values.
        routing_number:
          type: string
          description: Prefer a redacted value or hash; do not send raw routing numbers in a pilot.
        routing_number_hash:
          type: string
          description: Hash of the proposed routing identifier; preferred over raw routing values.
        destination_hash:
          type: string
          description: Hash of the complete proposed payment destination.
        payment_destination_hash:
          type: string
          description: Alias for a complete proposed payment-destination hash.
        payment_address: { type: string }
        mailing_address_hash: { type: string }
        address_hash: { type: string }
        phone_hash: { type: string }
        email_hash: { type: string }
        contact_method: { type: string }
        identity_document_hash: { type: string }
        identity_status: { type: string }
        override_reason: { type: string }
        risk_flags:
          type: array
          items: { type: string }

    CreateTrustReceiptRequest:
      type: object
      required: [organization_id, action_type, target_resource_id]
      properties:
        organization_id:
          type: string
          description: Tenant identifier
          example: org_demo_treasury
        action_type:
          type: string
          enum:
            - benefit_bank_account_change
            - benefit_address_change
            - caseworker_override
            - gov.vendor_payment_destination_change
            - gov.disbursement_release
            - gov.grant_disbursement
            - gov.provider_enrollment_change
            - gov.eligibility_override
            - vendor_bank_account_change
            - beneficiary_creation
            - large_payment_release
            - ai_agent_payment_action
        target_resource_id:
          type: string
          description: Identifier of the resource the action operates on
          example: vendor:VEND-9821
        actor_id:
          type: string
          description: |
            Optional. If supplied, must match the authenticated entity.
            The authoritative actor identity is always the auth context.
        actor_role:
          type: string
        target_changed_fields:
          type: array
          items: { type: string }
        amount:
          type: number
        currency:
          type: string
          example: USD
        risk_flags:
          type: array
          items: { type: string }
        before_state:
          type: object
          description: |
            Pre-change state of the target resource. Hashed at issuance
            and stored as `before_state_hash`. The plaintext is not
            persisted by the operator.
        after_state:
          type: object
          description: Proposed post-change state. Same hashing rules.
        policy_id:
          type: string
        enforcement_mode:
          type: string
          enum: [observe, warn, enforce]
          default: enforce

    TrustReceipt:
      type: object
      properties:
        receipt_id:
          type: string
          example: tr_4f2a1b8c9d3e7f0a4b1c8d3e9f2a4b1c
        decision:
          type: string
          enum: [allow, observe, allow_with_signoff, deny]
        observed_decision:
          type: string
          nullable: true
          description: When `enforcement_mode=observe`, the decision the engine would have made if enforcing.
        policy_id: { type: string }
        policy_hash: { type: string }
        action_hash: { type: string }
        before_state_hash:
          type: string
          nullable: true
        after_state_hash:
          type: string
          nullable: true
        nonce: { type: string }
        expires_at:
          type: string
          format: date-time
        signoff_required: { type: boolean }
        required_assurance:
          type: string
          nullable: true
          enum: [A]
          description: Class-A means WebAuthn/passkey or quorum; bearer/software approval is insufficient.
        evidence_status:
          type: string
          enum: [durable, degraded]
          description: |
            `durable` means the evidence event was recorded. `degraded` can
            appear only in observe/warn mode; enforce/strict-evidence mode
            fails closed instead.
        signoff_request_id:
          type: string
          nullable: true
        risk_flags:
          type: array
          items: { type: string }
        receipt_status:
          type: string
          enum: [issued, pending_signoff, consumed, denied, expired]
        enforcement_mode:
          type: string
          enum: [observe, warn, enforce]
        reasons:
          type: array
          items: { type: string }
        canonical_action:
          type: object
          description: The exact canonical action — caller must use this verbatim at consume.

    ConsumeTrustReceiptRequest:
      type: object
      required: [action_hash, executing_system]
      properties:
        action_hash:
          type: string
          description: Must match the action_hash issued at receipt creation
        executing_system:
          type: string
          example: vendor_master_data_svc
        execution_reference_id:
          type: string
          nullable: true
          description: Reference ID in the downstream executing system (e.g. SWIFT message ID)

    ConsumeTrustReceiptResponse:
      type: object
      properties:
        receipt_id: { type: string }
        status:
          type: string
          enum: [consumed]
        consumed_at:
          type: string
          format: date-time
        consumed_by_system: { type: string }
        execution_reference_id:
          type: string
          nullable: true

    EvidencePacket:
      type: object
      properties:
        receipt_id: { type: string }
        organization_id: { type: string }
        action_type: { type: string }
        decision: { type: string }
        enforcement_mode: { type: string }
        expires_at:
          type: string
          format: date-time
        timeline:
          type: array
          items:
            type: object
            properties:
              event: { type: string }
              actor_id: { type: string }
              at:
                type: string
                format: date-time
              action: { type: string }
        signoff:
          type: object
          properties:
            required: { type: boolean }
            threshold:
              type: string
              nullable: true
            approvers:
              type: array
              items:
                type: object
                properties:
                  id: { type: string }
                  role:
                    type: string
                    nullable: true
                  approved_at:
                    type: string
                    format: date-time
        consume:
          type: object
          nullable: true
          properties:
            consumed_at:
              type: string
              format: date-time
              nullable: true
            consumed_by_system:
              type: string
              nullable: true
            execution_reference_id:
              type: string
              nullable: true
        document:
          type: object
          description: The signed EP-RECEIPT-v1 document — verifiable offline.

    CloudApprovalCreateRequest:
      type: object
      description: |
        Inputs for the single connected action. Callers do not choose an
        action type; the server always creates `large_payment_release`.
      x-emilia-fixed-action-type: large_payment_release
      x-emilia-caid-action-type: payment.release.1
      required:
        [amount, currency, counterparty_name, payment_destination_hash,
         payment_reference, approver_id]
      properties:
        amount:
          type: number
          format: double
          exclusiveMinimum: true
          minimum: 0
          maximum: 1000000000000
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: Three-letter uppercase ISO-style currency code
        counterparty_name:
          type: string
          minLength: 1
          maxLength: 160
          description: Printable counterparty display name
        payment_destination_hash:
          type: string
          pattern: '^sha256:[a-f0-9]{64}$'
          description: |
            SHA-256 digest of the normalized payment destination. This becomes
            the `beneficiary_account` material field in the server-computed
            `payment.release.1` CAID.
        payment_reference:
          type: string
          minLength: 3
          maxLength: 200
          pattern: '^(?!.*\.\.)[A-Za-z0-9][A-Za-z0-9:._/-]{2,199}$'
          description: Safe payment identifier; `..` is forbidden
        approver_id:
          type: string
          minLength: 3
          maxLength: 128
          pattern: '^[A-Za-z0-9:_.@-]{3,128}$'
          description: Named approver who will complete the Class-A review
        comment:
          type: string
          maxLength: 500

    CloudApprovalCreateResponse:
      type: object
      required:
        [receipt_id, action_hash, action_caid, expires_at, signoff_id, approver_id,
         required_assurance, status, review_path, implementation_status]
      properties:
        receipt_id:
          type: string
          pattern: '^tr_[a-f0-9]{32}$'
        action_hash:
          type: string
          pattern: '^[a-f0-9]{64}$'
        action_caid:
          type: string
          pattern: '^caid:1:payment\.release\.1:jcs-sha256:[A-Za-z0-9_-]{43}$'
          description: |
            Server-computed identifier for exact `payment.release.1` typed
            action content. CAID does not establish authorization.
        expires_at:
          type: string
          format: date-time
        signoff_id:
          type: string
          pattern: '^sig_[a-f0-9]{32}$'
        approver_id:
          type: string
        required_assurance:
          type: string
          enum: [A]
        status:
          type: string
          enum: [pending]
        review_path:
          type: string
          pattern: '^/signoff/sig_[a-f0-9]{32}$'
          description: WebAuthn/WYSIWYS Class-A review path
        implementation_status:
          type: string
          enum: [prototype]

    CloudApprovalRecord:
      type: object
      required:
        [receipt_id, action_caid, action_type, payment_destination_hash, status]
      properties:
        receipt_id:
          type: string
          pattern: '^tr_[a-f0-9]{32}$'
        action_hash:
          type: string
          nullable: true
        action_caid:
          type: string
          pattern: '^caid:1:payment\.release\.1:jcs-sha256:[A-Za-z0-9_-]{43}$'
          description: |
            Server-computed typed-content identifier; not an authorization
            decision or proof.
        action_type:
          type: string
          enum: [large_payment_release]
        amount:
          type: number
          nullable: true
        currency:
          type: string
          nullable: true
        counterparty_name:
          type: string
          nullable: true
        payment_destination_hash:
          type: string
          pattern: '^sha256:[a-f0-9]{64}$'
          description: SHA-256 digest of the normalized payment destination
        target_resource_id:
          type: string
          nullable: true
          description: The submitted payment_reference
        created_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [pending, approved, rejected, expired, consumed]
        signoff_id:
          type: string
          nullable: true
        approver_id:
          type: string
          nullable: true
        review_path:
          type: string
          nullable: true
        consumed_at:
          type: string
          format: date-time
          nullable: true

    CloudApprovalQueueResponse:
      type: object
      required: [tenant_id, approvals, summary, implementation_status]
      properties:
        tenant_id:
          type: string
        approvals:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/CloudApprovalRecord'
        summary:
          type: object
          required: [pending, approved, rejected, expired, consumed]
          properties:
            pending: { type: integer, minimum: 0 }
            approved: { type: integer, minimum: 0 }
            rejected: { type: integer, minimum: 0 }
            expired: { type: integer, minimum: 0 }
            consumed: { type: integer, minimum: 0 }
        implementation_status:
          type: string
          enum: [prototype]

    CloudApprovalConsumeRequest:
      type: object
      description: |
        The exact action hash returned at creation. The server supplies the
        fixed executing_system and does not accept a caller-selected executor
        identity.
      required: [action_hash]
      properties:
        action_hash:
          type: string
          pattern: '^[a-f0-9]{64}$'

    CloudApprovalConsumeResponse:
      type: object
      required: [receipt_id, status, consumed_at, consumed_by_system]
      properties:
        receipt_id:
          type: string
          pattern: '^tr_[a-f0-9]{32}$'
        status:
          type: string
          enum: [consumed]
        consumed_at:
          type: string
          format: date-time
        consumed_by_system:
          type: string
          enum: [emilia_cloud_approval_endpoint]
        execution_reference_id:
          type: string
          nullable: true

    CloudApprovalEvidence:
      type: object
      description: |
        JSON projection delegated to the trust-receipt evidence route. Signed
        receipt fields are present only when that route can honestly mint them.
      required:
        [receipt_id, organization_id, actor, action, policy, signoff, consume,
         replay_attempts, timeline, signed, verify_with, issued_at, expires_at,
         format, schema_version]
      properties:
        document:
          type: object
          nullable: true
          description: |
            Signed EP receipt when available. For connected payment approvals,
            `payload.claim.canonical_action.action_caid` is the server-computed
            `payment.release.1` typed-content identifier; it does not establish
            authorization.
        public_key:
          type: string
          nullable: true
        signed:
          type: boolean
        verify_with:
          type: string
          enum: ['@emilia-protocol/verify']
        receipt_id:
          type: string
          pattern: '^tr_[a-f0-9]{32}$'
        organization_id:
          type: string
        actor:
          type: object
        action:
          type: object
          required: [type, action_hash]
          properties:
            type:
              type: string
              enum: [large_payment_release]
            action_hash:
              type: string
        policy:
          type: object
        signoff:
          type: object
        consume:
          type: object
        replay_attempts:
          type: integer
          minimum: 0
        timeline:
          type: array
          items:
            type: object
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        format:
          type: string
          enum: [application/json]
        schema_version:
          type: string
          enum: [ep-guard-evidence-v1]

    RequestSignoffRequest:
      type: object
      description: Single-signoff request; quorum roster fan-out is outside this slim schema.
      required: [receipt_id, approver_id]
      properties:
        receipt_id:
          type: string
          pattern: '^tr_[a-f0-9]{32}$'
        approver_id:
          type: string
          minLength: 3
          maxLength: 128
          pattern: '^[A-Za-z0-9:_.@-]{3,128}$'
          description: Intended approver bound to this single signoff
        comment:
          type: string
          maxLength: 500
        expires_in_minutes:
          type: integer
          minimum: 1
          maximum: 1440
          default: 240

    SignoffRequest:
      type: object
      properties:
        signoff_id: { type: string }
        receipt_id: { type: string }
        action_hash: { type: string }
        initiator_id: { type: string }
        approver_id: { type: string }
        expires_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending]

    ApproveSignoffRequest:
      type: object
      description: |
        Plain bearer-authenticated Class-C decision input. The service records
        this decision; it does not carry WebAuthn/Class-A evidence.
      required: [approved_action_hash]
      properties:
        approved_action_hash:
          type: string
          description: Must exactly match the action_hash bound at receipt issuance
        comment:
          type: string
          maxLength: 500

    RejectSignoffRequest:
      type: object
      description: |
        Plain bearer-authenticated Class-C decision input. The service records
        this decision; it does not carry WebAuthn/Class-A evidence.
      required: [approved_action_hash]
      properties:
        approved_action_hash:
          type: string
          description: Must exactly match the action_hash bound at receipt issuance
        comment:
          type: string
          maxLength: 500

    SignoffDecision:
      type: object
      description: |
        Response from the plain bearer decision routes. The corresponding audit
        event is service-recorded with key_class C and contains no device-held
        WebAuthn assertion.
      required: [signoff_id, receipt_id, decision, approver_id, decided_at]
      properties:
        signoff_id: { type: string }
        receipt_id: { type: string }
        decision:
          type: string
          enum: [approved, rejected]
        approver_id: { type: string }
        decided_at:
          type: string
          format: date-time

    Problem:
      type: object
      description: RFC 9457 Problem Details
      properties:
        type:
          type: string
          format: uri
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance:
          type: string
          format: uri

  responses:
    BadRequest:
      description: Bad request — required field missing or invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    Unauthorized:
      description: Unauthorized — bearer token missing or invalid
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    InternalError:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
